<h1><%= @director.name %></h1>

<p><strong>DOB:</strong> <%= @director.dob %></p>
<p><strong>Bio:</strong> <%= @director.bio %></p>
<p><img src="<%= @director.image %>" width="200"></p>

<h2>Update director</h2>
<form action="/update_director/<%= @director.id %>" method="post">
  <label for="name_field">Name</label>
  <input id="name_field" name="query_name" value="<%= @director.name %>">

  <label for="dob_field">DOB</label>
  <input id="dob_field" name="query_dob" value="<%= @director.dob %>">

  <label for="bio_field">Bio</label>
  <input id="bio_field" name="query_bio" value="<%= @director.bio %>">

  <label for="image_field">Image</label>
  <input id="image_field" name="query_image" value="<%= @director.image %>">

  <button>Update director</button>
</form>

<h2>Movies directed</h2>
<ul>
  <% @director.movies.each do |movie| %>
    <li>
      <%= movie.title %> - <a href="/movies/<%= movie.id %>">Show details</a>
    </li>
  <% end %>
</ul>
